doctype 5
html
  head
    title='2014 한해를 마무리하며 - Red Ribbon'
    script(src='http://code.jquery.com/jquery-1.6.4.min.js')
    script(src='/javascripts/dynamicdate.js')
    script(src='/javascripts/utils.js')
    script(src='/javascripts/audio.js')
    link(rel='stylesheet', href='/stylesheets/slot_style.css', media='screen')
    meta(charset='utf-8')
  body
    block content
